@charset "utf-8";

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 공통 */
* {
  font-family: "SUIT", sans-serif;
}

.section {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.section > div {
  padding: 105px 0 105px;
}

/* header */
.header {
  width: 100%;
  background: #eee;
}

.header-wrapper {
  margin: 0 auto;
  width: 1200px;
  height: 45px;
}

.header-wrapper img {
  padding-top: 8px;
  width: 100px;
}
/* //header */

/* section-intro */
.section > div.section-intro {
    padding-bottom: 150px;
}

.section-intro {
  padding-top: 80px !important;
  box-sizing: border-box;
  background: #4533a7;
}

.section-intro .main-title {
  margin-top: 30px;
  font-size: 90px;
  line-height: 1;
  font-weight: 600;
  color: #fff;
  text-align: center;
  font-family: "GmarketSansMedium";
}

.section-intro .main-title span {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 30px;
}

.btn-white {
  display: inline-block;
  width: 330px;
  height: 50px;
  line-height: 46px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #fff;
  border-radius: 50px;
  background: none;
  box-sizing: border-box;
}

.btn-white span:after,.btn-black span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -2px;
    right: -20px;
    font-size: 25px;
    transition: 0.5s;
}

.btn-white span, .btn-black span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-white:hover span, .btn-black:hover span {
  padding-right: 25px;
}

.btn-white:hover span:after, .btn-black:hover span:after {
  opacity: 1;
  right: 0;
}

.sub-desc01 {
  padding: 10px 0 30px;
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
}

.title-red {
  margin-right: 10px;
  padding: 0 7px 5px;
  background: #ff3c14;
}
/* //section-intro */


/* section-free */
.section-free {
  background: #fed324;
  box-sizing: border-box;
  color: #1d1d1d;
}

.section-subtitle {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 15px;
}

.section-title {
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 20px;
}

.secton-desc {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.7;
}

.btn-black {
  display: inline-block;
  width: 330px;
  height: 50px;
  line-height: 46px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #111;
  border-radius: 50px;
  background: #111;
  box-sizing: border-box;
}

.coupon {
  position: relative;
  margin: 60px auto 40px;
  width: 350px;
  height: 170px;
  border: 3px solid #111;
  border-radius: 35px 0 35px 0;
  background: #fff;
}

.coupon p {
  font-size: 65px;
  line-height: 1;
  font-weight: 700;
}

.coupon p span {
  display: inline-block;
  padding-bottom: 10px;
  font-size: 23px;
}

.btn-desc {
  padding-top: 15px;
  font-size: 15px;
  font-weight: 700;
  opacity: 0.5;
}

.coupon-icon {
  position: absolute;
  display: inline-block;
  width: 70px;
  height: 70px;
  right: -30px;
  top: -26px;
  padding-top: 14px;
  font-size: 19px;
  color: #fff;
  border-radius: 50px;
  background: #5641c5;
  box-sizing: border-box;
  animation: scale 1.7s infinite;
}

.section-slide {
  background: #fff6e2;
  overflow: hidden;
}

.tab-slide .list {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.tab-slide .tab-button {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px 0;
  width: 220px;
  color: #e22700;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50px;
  border: 2px solid #e22700;
  cursor: pointer;
}

.tab-slide .tab-button:last-child {
  margin-right: 0;
}

.tab-slide .tab-content.show {
    display: block;
}

.tab-slide .tab-content {
    display: none;
}

.tab-button.red {
    background: #e22700;
    color: #fff;
}

.tab-content p {
    padding-bottom: 50px;
}
/* //section-free */


/* swiper 1 */
.swiper1 {
    height: 450px;
}

.swiper1 .swiper-slide img {
    width: 280px;
    height: auto;
}

.swiper1-wrapper {
    position: relative;
    width: 390px;
    height: 500px;
    margin: 100px auto 0;
}

.swiper1-wrapper:before {
    position: absolute;
    content: "";
    display: block;
    width: 620px;
    height: 730px;
    top: -160px;
    left: 50%;
    transform: translate(-50%, 0);
    background:url(https://img.joongang.co.kr/pubimg/event/plus_event002/bg_info01_v4.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* z-index: 10; */
}

.swiper1 .swiper-slide.swiper-slide-active {
    padding-top: 37px;
}

.swiper.swiper2 {
    width: 1920px;
    overflow: visible;
    padding-top: 40px;
    margin-bottom: 50px;
}

.swiper2 .swiper-slide img {
    width: 450px;
}

.swiper.swiper2 .swiper-scrollbar {
    position: static;
    padding-top: 70px;
    width: 100%;
    height: 4px;
    border-radius: 0;
    background: #fff;
}

.swiper.swiper2 .swiper-scrollbar-drag {
  max-height: 4px;
}

/* section-share */
.section-share {
    background: #4533a7;
}

.section-title-white {
    color: #fff;
}

.share-coupon img {
    width: 250px;
}

.share-coupon {
    position: relative;
    margin: 20px auto 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #332485;
}

.share-icon {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0;
    padding-top: 20px;
    font-weight: 700;
    background: #f6330a;
    border-radius: 50%;
    color: #fff;
    box-sizing: border-box;
    animation: scale 1.5s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);

  }50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

.section-note {
    margin: 0 auto;
    text-align: left;
    background: #343437;
}

.section-note-content {
    margin: 0 auto;
    width: 1200px;
    color: #fff;
}

.note-title {
    font-size: 17px;
    margin-bottom: 10px;
}

.note-list:nth-of-type(1) {
    margin-bottom: 35px;
}

.note-list {
    font-size: 15px;
    line-height: 1.6;
}

.note-list li:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 9px;
    left: 0;
    background: #fff;
    border-radius: 50%;
}

ul.note-list li {
    position: relative;
    padding-left: 12px;
}
/* //section-share */


/* footer */
.footer-list1 {
    display: flex;
    width: 1200px;
    padding: 15px 0;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-list1-left {
    display: flex;
    margin-top: 6px;
    font-size: 18px;
    align-items: center;
}

.footer-list1-left li {
    margin-right: 10px;
}

.footer-list1-left li:last-child {
    margin-right: 40px;
}

.footer-list1-right {
    display: flex;
}

.footer-list1-right li {
    margin-right: 25px;
}

.footer-inner {
    background-color: #f4f5fa;
}

.footer-list2 {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0 70px;
}

.footer-list2-left img {
    width: 180px;
}

.footer-list2-left {
    margin-right: 70px;
}

.footer-company1 {
    display: flex;
}

.footer-company2 {
    display: flex;
}

.footer-list2-right {
    color: #26322f;
    font-size: 15px;
}

.footer-list2-right {
    color: #26322f;
    font-size: 15px;
    font-weight: 600;
}

.footer-list2-right ul {
    margin-bottom: 5px;
}

.copyright {
    margin-bottom: 5px;
}

.footer-company1 li:after, .footer-company2 li:after {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 15px;
    background: #bcbcbc;
    right: -6px;
    top: 2px;
}

.footer-company1 li, .footer-company2 li {
    position: relative;
    margin-right: 8px;
}

.footer-company1 li:last-child, .footer-company2 li:last-child {
    margin-right: 0;
}

.footer-company1 li:last-child:after, .footer-company2 li:last-child:after {
    display: none;
}

.footer-list2-left span {
    line-height: 100px;
}
/* //footer */