h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}
.text-h1,
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}
a {
  background-color: initial;
}
strong {
  font-weight: bolder;
}
code {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
img {
  border-style: none;
}
button {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
}
[type="button"],
[type="reset"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: initial;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[hidden],
template {
  display: none;
}
html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
:after,
:before {
  box-sizing: inherit;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fefefe;
  color: #0a0a0a;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
img {
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  height: auto;
  vertical-align: middle;
}
button {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  cursor: auto;
  font-family: inherit;
  line-height: 1;
  padding: 0;
}
.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 87.5rem;
  padding-left: 1.625rem;
  padding-right: 1.625rem;
}
@media print, screen and (min-width: 40em) {
  .grid-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.grid-container.fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 1.625rem;
  padding-right: 1.625rem;
}
@media print, screen and (min-width: 40em) {
  .grid-container.fluid {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.grid-container.full {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.grid-x {
  display: flex;
  flex-flow: row wrap;
}
.cell {
  flex: 0 0 auto;
  min-height: 0;
  min-width: 0;
  width: 100%;
}
.cell.auto {
  flex: 1 1 0;
}
.cell.shrink {
  flex: 0 0 auto;
}
.grid-x > .auto,
.grid-x > .shrink {
  width: auto;
}
.grid-x > .small-2,
.grid-x > .small-5,
.grid-x > .small-10,
.grid-x > .small-shrink {
  flex-basis: auto;
}
@media print, screen and (min-width: 40em) {
  .grid-x > .medium-1,
  .grid-x > .medium-5,
  .grid-x > .medium-6,
  .grid-x > .medium-7,
  .grid-x > .medium-8,
  .grid-x > .medium-10,
  .grid-x > .medium-shrink {
    flex-basis: auto;
  }
}
@media print, screen and (min-width: 64em) {
  .grid-x > .large-2,
  .grid-x > .large-3,
  .grid-x > .large-4,
  .grid-x > .large-5,
  .grid-x > .large-6,
  .grid-x > .large-7,
  .grid-x > .large-8,
  .grid-x > .large-9,
  .grid-x > .large-10 {
    flex-basis: auto;
  }
}
.grid-x > .small-2,
.grid-x > .small-5,
.grid-x > .small-10 {
  flex: 0 0 auto;
}
.grid-x > .small-2 {
  width: 16.6666666667%;
}
.grid-x > .small-5 {
  width: 41.6666666667%;
}
.grid-x > .small-10 {
  width: 83.3333333333%;
}
@media print, screen and (min-width: 40em) {
  .grid-x > .medium-auto {
    flex: 1 1 0;
    width: auto;
  }
  .grid-x > .medium-1,
  .grid-x > .medium-5,
  .grid-x > .medium-6,
  .grid-x > .medium-7,
  .grid-x > .medium-8,
  .grid-x > .medium-10,
  .grid-x > .medium-shrink {
    flex: 0 0 auto;
  }
  .grid-x > .medium-shrink {
    width: auto;
  }
  .grid-x > .medium-1 {
    width: 8.3333333333%;
  }
  .grid-x > .medium-5 {
    width: 41.6666666667%;
  }
  .grid-x > .medium-6 {
    width: 50%;
  }
  .grid-x > .medium-7 {
    width: 58.3333333333%;
  }
  .grid-x > .medium-8 {
    width: 66.6666666667%;
  }
  .grid-x > .medium-10 {
    width: 83.3333333333%;
  }
}
@media print, screen and (min-width: 64em) {
  .grid-x > .large-auto {
    flex: 1 1 0;
    width: auto;
  }
  .grid-x > .large-2,
  .grid-x > .large-3,
  .grid-x > .large-4,
  .grid-x > .large-5,
  .grid-x > .large-6,
  .grid-x > .large-7,
  .grid-x > .large-8,
  .grid-x > .large-9,
  .grid-x > .large-10 {
    flex: 0 0 auto;
  }
  .grid-x > .large-2 {
    width: 16.6666666667%;
  }
  .grid-x > .large-3 {
    width: 25%;
  }
  .grid-x > .large-4 {
    width: 33.3333333333%;
  }
  .grid-x > .large-5 {
    width: 41.6666666667%;
  }
  .grid-x > .large-6 {
    width: 50%;
  }
  .grid-x > .large-7 {
    width: 58.3333333333%;
  }
  .grid-x > .large-8 {
    width: 66.6666666667%;
  }
  .grid-x > .large-9 {
    width: 75%;
  }
  .grid-x > .large-10 {
    width: 83.3333333333%;
  }
}
.grid-margin-x:not(.grid-x) > .cell {
  width: auto;
}
.grid-margin-y:not(.grid-y) > .cell {
  height: auto;
}
.grid-margin-x {
  margin-left: -0.375rem;
  margin-right: -0.375rem;
}
@media print, screen and (min-width: 40em) {
  .grid-margin-x {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
.grid-margin-x > .cell {
  margin-left: 0.375rem;
  margin-right: 0.375rem;
  width: calc(100% - 0.75rem);
}
@media print, screen and (min-width: 40em) {
  .grid-margin-x > .cell {
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(100% - 2rem);
  }
}
.grid-margin-x > .auto,
.grid-margin-x > .shrink {
  width: auto;
}
.grid-margin-x > .small-2 {
  width: calc(16.66667% - 0.75rem);
}
.grid-margin-x > .small-5 {
  width: calc(41.66667% - 0.75rem);
}
.grid-margin-x > .small-10 {
  width: calc(83.33333% - 0.75rem);
}
@media print, screen and (min-width: 40em) {
  .grid-margin-x > .auto,
  .grid-margin-x > .shrink {
    width: auto;
  }
  .grid-margin-x > .small-2 {
    width: calc(16.66667% - 2rem);
  }
  .grid-margin-x > .small-5 {
    width: calc(41.66667% - 2rem);
  }
  .grid-margin-x > .small-10 {
    width: calc(83.33333% - 2rem);
  }
  .grid-margin-x > .medium-auto,
  .grid-margin-x > .medium-shrink {
    width: auto;
  }
  .grid-margin-x > .medium-1 {
    width: calc(8.33333% - 2rem);
  }
  .grid-margin-x > .medium-5 {
    width: calc(41.66667% - 2rem);
  }
  .grid-margin-x > .medium-6 {
    width: calc(50% - 2rem);
  }
  .grid-margin-x > .medium-7 {
    width: calc(58.33333% - 2rem);
  }
  .grid-margin-x > .medium-8 {
    width: calc(66.66667% - 2rem);
  }
  .grid-margin-x > .medium-10 {
    width: calc(83.33333% - 2rem);
  }
}
@media print, screen and (min-width: 64em) {
  .grid-margin-x > .large-auto {
    width: auto;
  }
  .grid-margin-x > .large-2 {
    width: calc(16.66667% - 2rem);
  }
  .grid-margin-x > .large-3 {
    width: calc(25% - 2rem);
  }
  .grid-margin-x > .large-4 {
    width: calc(33.33333% - 2rem);
  }
  .grid-margin-x > .large-5 {
    width: calc(41.66667% - 2rem);
  }
  .grid-margin-x > .large-6 {
    width: calc(50% - 2rem);
  }
  .grid-margin-x > .large-7 {
    width: calc(58.33333% - 2rem);
  }
  .grid-margin-x > .large-8 {
    width: calc(66.66667% - 2rem);
  }
  .grid-margin-x > .large-9 {
    width: calc(75% - 2rem);
  }
  .grid-margin-x > .large-10 {
    width: calc(83.33333% - 2rem);
  }
}
.grid-padding-x .grid-padding-x {
  margin-left: -0.375rem;
  margin-right: -0.375rem;
}
@media print, screen and (min-width: 40em) {
  .grid-padding-x .grid-padding-x {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
.grid-container:not(.full) > .grid-padding-x {
  margin-left: -0.375rem;
  margin-right: -0.375rem;
}
@media print, screen and (min-width: 40em) {
  .grid-container:not(.full) > .grid-padding-x {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
.grid-padding-x > .cell {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}
@media print, screen and (min-width: 40em) {
  .grid-padding-x > .cell {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media print, screen and (min-width: 64em) {
  .large-up-2 > .cell {
    width: 50%;
  }
  .grid-margin-x.large-up-2 > .cell {
    width: calc(50% - 2rem);
  }
}
.small-offset-2 {
  margin-left: 16.6666666667%;
}
.grid-margin-x > .small-offset-2 {
  margin-left: calc(16.66667% + 0.375rem);
}
@media print, screen and (min-width: 40em) {
  .medium-offset-1 {
    margin-left: 8.3333333333%;
  }
  .grid-margin-x > .medium-offset-1 {
    margin-left: calc(8.33333% + 1rem);
  }
  .medium-offset-2 {
    margin-left: 16.6666666667%;
  }
  .grid-margin-x > .medium-offset-2 {
    margin-left: calc(16.66667% + 1rem);
  }
}
@media print, screen and (min-width: 64em) {
  .large-offset-1 {
    margin-left: 8.3333333333%;
  }
  .grid-margin-x > .large-offset-1 {
    margin-left: calc(8.33333% + 1rem);
  }
  .large-offset-2 {
    margin-left: 16.6666666667%;
  }
  .grid-margin-x > .large-offset-2 {
    margin-left: calc(16.66667% + 1rem);
  }
}
.grid-y {
  display: flex;
  flex-flow: column nowrap;
}
.grid-y > .cell {
  height: auto;
  max-height: none;
}
.grid-y > .auto,
.grid-y > .shrink {
  height: auto;
}
.grid-y > .small-2,
.grid-y > .small-5,
.grid-y > .small-10,
.grid-y > .small-shrink {
  flex-basis: auto;
}
@media print, screen and (min-width: 40em) {
  .grid-y > .medium-1,
  .grid-y > .medium-5,
  .grid-y > .medium-6,
  .grid-y > .medium-7,
  .grid-y > .medium-8,
  .grid-y > .medium-10,
  .grid-y > .medium-shrink {
    flex-basis: auto;
  }
}
@media print, screen and (min-width: 64em) {
  .grid-y > .large-2,
  .grid-y > .large-3,
  .grid-y > .large-4,
  .grid-y > .large-5,
  .grid-y > .large-6,
  .grid-y > .large-7,
  .grid-y > .large-8,
  .grid-y > .large-9,
  .grid-y > .large-10 {
    flex-basis: auto;
  }
}
.grid-y > .small-2,
.grid-y > .small-5,
.grid-y > .small-10 {
  flex: 0 0 auto;
}
.grid-y > .small-2 {
  height: 16.6666666667%;
}
.grid-y > .small-5 {
  height: 41.6666666667%;
}
.grid-y > .small-10 {
  height: 83.3333333333%;
}
@media print, screen and (min-width: 40em) {
  .grid-y > .medium-auto {
    flex: 1 1 0;
    height: auto;
  }
  .grid-y > .medium-1,
  .grid-y > .medium-5,
  .grid-y > .medium-6,
  .grid-y > .medium-7,
  .grid-y > .medium-8,
  .grid-y > .medium-10,
  .grid-y > .medium-shrink {
    flex: 0 0 auto;
  }
  .grid-y > .medium-shrink {
    height: auto;
  }
  .grid-y > .medium-1 {
    height: 8.3333333333%;
  }
  .grid-y > .medium-5 {
    height: 41.6666666667%;
  }
  .grid-y > .medium-6 {
    height: 50%;
  }
  .grid-y > .medium-7 {
    height: 58.3333333333%;
  }
  .grid-y > .medium-8 {
    height: 66.6666666667%;
  }
  .grid-y > .medium-10 {
    height: 83.3333333333%;
  }
}
@media print, screen and (min-width: 64em) {
  .grid-y > .large-auto {
    flex: 1 1 0;
    height: auto;
  }
  .grid-y > .large-2,
  .grid-y > .large-3,
  .grid-y > .large-4,
  .grid-y > .large-5,
  .grid-y > .large-6,
  .grid-y > .large-7,
  .grid-y > .large-8,
  .grid-y > .large-9,
  .grid-y > .large-10 {
    flex: 0 0 auto;
  }
  .grid-y > .large-2 {
    height: 16.6666666667%;
  }
  .grid-y > .large-3 {
    height: 25%;
  }
  .grid-y > .large-4 {
    height: 33.3333333333%;
  }
  .grid-y > .large-5 {
    height: 41.6666666667%;
  }
  .grid-y > .large-6 {
    height: 50%;
  }
  .grid-y > .large-7 {
    height: 58.3333333333%;
  }
  .grid-y > .large-8 {
    height: 66.6666666667%;
  }
  .grid-y > .large-9 {
    height: 75%;
  }
  .grid-y > .large-10 {
    height: 83.3333333333%;
  }
}
.grid-frame {
  align-items: stretch;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 100vw;
}
.cell .grid-frame {
  width: 100%;
}
.grid-y.grid-frame {
  align-items: stretch;
  flex-wrap: nowrap;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: auto;
}
.cell .grid-y.grid-frame {
  height: 100%;
}
.grid-margin-y {
  margin-bottom: -0.375rem;
  margin-top: -0.375rem;
}
@media print, screen and (min-width: 40em) {
  .grid-margin-y {
    margin-bottom: -1rem;
    margin-top: -1rem;
  }
}
.grid-margin-y > .cell {
  height: calc(100% - 0.75rem);
  margin-bottom: 0.375rem;
  margin-top: 0.375rem;
}
@media print, screen and (min-width: 40em) {
  .grid-margin-y > .cell {
    height: calc(100% - 2rem);
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
.grid-margin-y > .auto,
.grid-margin-y > .shrink {
  height: auto;
}
.grid-margin-y > .small-2 {
  height: calc(16.66667% - 0.75rem);
}
.grid-margin-y > .small-5 {
  height: calc(41.66667% - 0.75rem);
}
.grid-margin-y > .small-10 {
  height: calc(83.33333% - 0.75rem);
}
@media print, screen and (min-width: 40em) {
  .grid-margin-y > .auto,
  .grid-margin-y > .shrink {
    height: auto;
  }
  .grid-margin-y > .small-2 {
    height: calc(16.66667% - 2rem);
  }
  .grid-margin-y > .small-5 {
    height: calc(41.66667% - 2rem);
  }
  .grid-margin-y > .small-10 {
    height: calc(83.33333% - 2rem);
  }
  .grid-margin-y > .medium-auto,
  .grid-margin-y > .medium-shrink {
    height: auto;
  }
  .grid-margin-y > .medium-1 {
    height: calc(8.33333% - 2rem);
  }
  .grid-margin-y > .medium-5 {
    height: calc(41.66667% - 2rem);
  }
  .grid-margin-y > .medium-6 {
    height: calc(50% - 2rem);
  }
  .grid-margin-y > .medium-7 {
    height: calc(58.33333% - 2rem);
  }
  .grid-margin-y > .medium-8 {
    height: calc(66.66667% - 2rem);
  }
  .grid-margin-y > .medium-10 {
    height: calc(83.33333% - 2rem);
  }
}
@media print, screen and (min-width: 64em) {
  .grid-margin-y > .large-auto {
    height: auto;
  }
  .grid-margin-y > .large-2 {
    height: calc(16.66667% - 2rem);
  }
  .grid-margin-y > .large-3 {
    height: calc(25% - 2rem);
  }
  .grid-margin-y > .large-4 {
    height: calc(33.33333% - 2rem);
  }
  .grid-margin-y > .large-5 {
    height: calc(41.66667% - 2rem);
  }
  .grid-margin-y > .large-6 {
    height: calc(50% - 2rem);
  }
  .grid-margin-y > .large-7 {
    height: calc(58.33333% - 2rem);
  }
  .grid-margin-y > .large-8 {
    height: calc(66.66667% - 2rem);
  }
  .grid-margin-y > .large-9 {
    height: calc(75% - 2rem);
  }
  .grid-margin-y > .large-10 {
    height: calc(83.33333% - 2rem);
  }
}
.grid-frame.grid-margin-y {
  height: calc(100vh + 0.75rem);
}
@media print, screen and (min-width: 40em) {
  .grid-frame.grid-margin-y {
    height: calc(100vh + 2rem);
  }
}
@media print, screen and (min-width: 64em) {
  .grid-frame.grid-margin-y {
    height: calc(100vh + 2rem);
  }
}
.align-center {
  justify-content: center;
}
.align-justify {
  justify-content: space-between;
}
.align-middle {
  align-items: center;
}
.hide {
  display: none !important;
}
@media print, screen and (max-width: 39.99875em) {
  .hide-for-small-only {
    display: none !important;
  }
}
@media screen and (max-width: 0em), screen and (min-width: 40em) {
  .show-for-small-only {
    display: none !important;
  }
}
@media print, screen and (min-width: 64em) {
  .hide-for-large {
    display: none !important;
  }
}
@media screen and (max-width: 63.99875em) {
  .show-for-large {
    display: none !important;
  }
}
html.has-scroll-smooth {
  overflow: hidden;
}
html.has-scroll-dragging {
  -webkit-user-select: none;
  user-select: none;
}
.has-scroll-smooth body {
  overflow: hidden;
}
.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}
[data-scroll-direction="horizontal"] [data-scroll-container] {
  display: inline-block;
  height: 100vh;
  white-space: nowrap;
}
[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  white-space: nowrap;
}
.c-scrollbar {
  height: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  width: 11px;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  bottom: 0;
  height: 10px;
  top: auto;
  transform: scaleY(1);
  width: 100%;
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}
.c-scrollbar_thumb {
  background-color: #000;
  border-radius: 10px;
  cursor: -webkit-grab;
  cursor: grab;
  margin: 2px;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  width: 7px;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  bottom: 0;
  right: auto;
}
.has-scroll-smooth {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.c-scrollbar {
  z-index: 10;
}
.c-scrollbar_thumb {
  transition: background-color 0.4s ease;
}
@font-face {
  font-display: swap;
  font-family: Plain;
  font-style: normal;
  font-weight: 500;
  src: local("Plain-Medium"), url(font/Plain/Plain-Medium.woff2) format("woff2"),
    url(font/Plain/Plain-Medium.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Plain;
  font-style: normal;
  font-weight: 300;
  src: local("Plain-Light"), url(font/Plain/Plain-Light.woff2) format("woff2"),
    url(font/Plain/Plain-Light.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Plain;
  font-style: normal;
  font-weight: 200;
  src: local("Plain-Ultralight"),
    url(font/Plain/Plain-Ultralight.woff2) format("woff2"),
    url(font/Plain/Plain-Ultralight.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Canela;
  font-style: normal;
  font-weight: 500;
  src: local("Canela Medium"), local("Canela-Medium"),
    url(font/Canela/Canela-Medium.woff2) format("woff2"),
    url(font/Canela/Canela-Medium.woff) format("woff");
}
.mosaic-title,
.review-quote,
.text-h1,
h1 {
  font-kerning: none;
  letter-spacing: -0.3px;
}
.text-h1,
h1 {
  font-family: Canela, serif;
  font-size: 80px;
  font-weight: 500;
  line-height: 1.1;
}
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
  .text-h1,
  h1 {
    font-size: 60px;
  }
}
@media print, screen and (max-width: 39.99875em) {
  .text-h1,
  h1 {
    font-size: 32px;
  }
}
.menu-items,
.text-h2,
h2 {
  font-family: Canela, serif;
  font-size: 56px;
  font-weight: 500;
  line-height: 1;
}
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
  .menu-items,
  .text-h2,
  h2 {
    font-size: 40px;
  }
}
@media print, screen and (max-width: 39.99875em) {
  .menu-items,
  .text-h2,
  h2 {
    font-size: 32px;
  }
}
.text-h3,
h3 {
  font-family: Canela, serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2;
}
.text-link,
p > a {
  display: inline-flex;
  font-weight: 500;
  position: relative;
}
.text-link:before,
p > a:before {
  background: currentColor;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  opacity: 0.4;
  position: absolute;
  transition: opacity 0.4s ease;
  width: 100%;
}
.text-link:hover:before,
p > a:hover:before {
  opacity: 1;
}
.text-prelude {
  align-items: center;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  opacity: 1;
  padding-left: 18px;
  position: relative;
  text-transform: uppercase;
}
.text-prelude:before {
  background-color: currentColor;
  border-radius: 100%;
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  width: 10px;
}
.text-lead {
  font-size: 26px;
  margin: 0;
  opacity: 1;
}
[data-theme="corail-light"] .header.has-menu--open .header-logo,
[data-theme="forest-light"] .header.has-menu--open .header-logo,
[data-theme="light"] .header.has-menu--open .header-logo,
[data-theme="ocean-light"] .header.has-menu--open .header-logo {
  color: #fff;
}
[data-theme="sun-light"] .menu--open .menu-button,
[data-theme="sun-light"] .menu-items,
[data-theme="sun-light"] .menu-right,
[data-theme="sun"] .menu--open .menu-button,
[data-theme="sun"] .menu-items,
[data-theme="sun"] .menu-right {
  color: inherit;
}
[data-theme] {
  transition: color 600ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    background-color 0s ease;
  will-change: color, background-color;
}
[data-theme="light"] {
  background: #fff;
  color: #000;
}
[data-theme="light"] ::selection {
  background: rgba(230, 230, 230, 0.6);
  color: inherit;
}
[data-theme="light"] .text-color-contrast {
  color: #000;
}
[data-theme="dark"] {
  background: #000;
  color: #fff;
}
[data-theme="dark"] ::selection {
  background: rgba(128, 128, 128, 0.6);
}
[data-theme="dark"] p {
  color: #fff;
}
[data-theme="dark"] > .c-scrollbar .c-scrollbar_thumb {
  background: #fff;
}
[data-theme="dark"] .text-color-base {
  color: #fff;
}
[data-theme="dark"] .dot.dot--active:not(.dot--icon):before {
  background: #fff;
  opacity: 0.2;
}
[data-theme="dark"] .menu-background {
  color: #000;
}
@media print, screen and (max-width: 39.99875em) {
  [data-theme="dark"] .menu-container {
    background: #000;
  }
}
[data-theme="dark"] .menu--open .menu-link--active:before {
  opacity: 0.2;
}
[data-theme="dark"] .project-tag {
  background: rgba(255, 255, 255, 0.2);
}
[data-theme="ocean"] {
  background: #317ded;
  color: #fff;
}
[data-theme="ocean"] ::selection {
  background: rgba(19, 99, 216, 0.6);
}
[data-theme="ocean"] p {
  color: #fff;
}
[data-theme="ocean"] .text-color-ocean {
  color: #fff;
  transition: none;
}
[data-theme="ocean"] .menu-background {
  color: #317ded;
}
[data-theme="ocean"] .member-social .social-link .icon:before {
  transition: opacity 0.2s ease, background-color 0.2s ease;
}
[data-theme="ocean"] .member-social .social-link .icon-shape {
  transition: color 0.2s ease;
}
[data-theme="ocean"] .member-social .social-link:hover .icon:before {
  background-color: currentColor;
  opacity: 1;
}
[data-theme="ocean-light"],
[data-theme="ocean"] .member-social .social-link:hover .icon-shape {
  color: #317ded;
}
[data-theme="ocean-light"] ::selection {
  background: rgba(49, 125, 237, 0.9);
  color: #000;
}
[data-theme="ocean-light"] .text-color-sun {
  color: #000;
}
[data-theme="forest"] {
  background: #13964c;
  color: #fff;
}
[data-theme="forest"] ::selection {
  background: rgba(13, 105, 53, 0.6);
}
[data-theme="forest"] p {
  color: #fff;
}
[data-theme="forest"] .text-color-forest {
  color: #fff;
  transition: none;
}
[data-theme="forest-light"],
[data-theme="forest"] .menu-background {
  color: #13964c;
}
[data-theme="forest-light"] ::selection {
  background: rgba(19, 150, 76, 0.9);
  color: #000;
}
[data-theme="forest-light"] .text-color-sun {
  color: #000;
}
[data-theme="corail"] {
  background: #e93728;
  color: #fff;
}
[data-theme="corail"] ::selection {
  background: rgba(201, 35, 21, 0.6);
}
[data-theme="corail"] p {
  color: #fff;
}
[data-theme="corail"] .text-color-corail {
  color: #fff;
  transition: none;
}
[data-theme="corail"] [class^="text-color-"] {
  color: #fff;
}
[data-theme="corail-light"],
[data-theme="corail"] .menu-background {
  color: #e93728;
}
[data-theme="corail-light"] ::selection {
  background: rgba(233, 55, 40, 0.9);
  color: #000;
}
[data-theme="corail-light"] .text-color-sun {
  color: #000;
}
[data-theme="sun"] {
  background: #ffd640;
  color: #000;
}
[data-theme="sun"] ::selection {
  background: rgba(217, 170, 0, 0.6);
  color: inherit;
}
[data-theme="sun"] .text-color-sun {
  color: #000;
}
[data-theme="sun"] .menu-background {
  color: #ffd640;
}
[data-theme="sun-light"] {
  color: #000;
}
[data-theme="sun-light"] ::selection {
  background: rgba(255, 214, 64, 0.9);
  color: inherit;
}
[data-theme="sun-light"] .menu-background {
  color: #ffd640;
}
[data-theme="sun-light"] .text-color-sun,
[data-theme]:not([data-theme$="-light"]) [data-theme$="-light"] p {
  color: #000;
}
[data-theme]:not([data-theme$="-light"])
  [data-theme-use$="-light"]
  + [data-theme-use="corail"] {
  color: #fff;
}
[data-theme$="-light"] {
  background: #fff;
}
[data-theme$="-light"] .project-tag,
[data-theme$="-light"] [data-theme-use$="-light"] + [data-theme-use="corail"] {
  color: #000;
}
[data-theme$="light"] .cookie {
  background: #000;
  color: #fff;
}
[data-theme$="light"] .cookie-button {
  background: #fff;
  color: #000;
}
[data-theme-use$="-light"] + [data-theme-use="corail"] {
  transition: color 0.3s cubic-bezier(0, 0, 0.2, 1);
}
body {
  background: #fff;
  color: #000;
  font-family: Plain, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  overflow-x: hidden;
}
body ::selection {
  background: #317ded;
  color: #fff;
}
@media print, screen and (max-width: 39.99875em) {
  body {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media (-ms-high-contrast: none) {
  body {
    overflow: hidden;
  }
  body:before {
    align-items: center;
    background: #317ded linear-gradient(to bottom right, #317ded, #004ab8);
    color: #fff;
    content: "Oops.. le navigateur que vous utilisez est obsolète 😿 — KHOSI, l'agence Webmarketing qui aime le web moderne.";
    display: flex;
    font-size: 38px;
    height: 100vh;
    justify-content: center;
    line-height: 1.4;
    padding: 0 10vw;
    position: fixed;
    text-align: center;
    top: 0;
    -webkit-user-select: none;
    user-select: none;
    width: 100vw;
    z-index: 500;
  }
}
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Canela, serif;
  font-weight: 500;
  opacity: 1;
}
@media print, screen and (min-width: 64em) {
  .text-h1 + p,
  h1 + p {
    max-width: 50%;
  }
}
p {
  transition: color 0.3s cubic-bezier(0, 0, 0.2, 1);
  will-change: color;
}
p + hr {
  margin: 40px 0;
}
p,
ul {
  color: #000;
}
small {
  font-size: 14px;
}
a {
  color: currentColor;
  text-decoration: none;
}
svg {
  fill: currentColor;
  height: 100%;
  width: 100%;
}
img {
  max-width: 100%;
}
figure {
  margin: 0;
}
hr {
  background: currentColor;
  border: 0;
  display: inline-flex;
  height: 1px;
  margin: 100px 0;
  opacity: 0.4;
  width: 100%;
}
@media print, screen and (max-width: 63.99875em) {
  hr {
    margin: 40px 0;
  }
}
blockquote,
figcaption,
p,
ul {
  opacity: 0.8;
}
.header {
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
  width: 100%;
  z-index: 10;
}
.header.has-menu--open .header-logo {
  transition-duration: 0.4s;
}
.header-grid {
  min-height: 110px;
}
.header-logo {
  display: flex;
  height: 40px;
  pointer-events: auto;
  transition: opacity 0.4s ease, color 0.2s ease;
  width: 90px;
}
@media print, screen and (min-width: 40em) {
  .header-logo:hover {
    opacity: 0.7;
  }
}
.header-menu {
  pointer-events: auto;
}
.header--hide {
  opacity: 0;
  transform: translateY(-50%);
}
.header--hide .header-logo,
.header--hide .header-menu {
  pointer-events: none;
}
.footer {
  background: #000;
  color: #fff;
  font-size: 14px;
  -webkit-user-select: none;
  user-select: none;
}
.footer-grid {
  height: 64px;
}
@media print, screen and (max-width: 39.99875em) {
  .footer-grid {
    height: 57.6px;
  }
}
.footer-credits {
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer-credits-item {
  position: absolute;
}
@media print, screen and (max-width: 39.99875em) {
  .footer {
    font-size: 12px;
  }
}
.dot-icon,
.icon,
.timeline-item:before {
  align-items: center;
  border-radius: 100%;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  min-height: 48px;
  position: relative;
  width: 48px;
}
.dot-icon:before,
.icon:before,
.timeline-item:before {
  border: 1px solid;
  border-radius: inherit;
  content: "";
  display: flex;
  height: 100%;
  opacity: 0.4;
  position: absolute;
  transition: opacity 0.4s ease;
  width: 100%;
}
.dot-icon:hover:before,
.icon:hover:before,
.timeline-item:hover:before {
  opacity: 1;
}
.icon-shape {
  height: 16px;
  width: 16px;
  z-index: 1;
}
.menu {
  -webkit-user-select: none;
  user-select: none;
}
.menu-button {
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  position: relative;
  transition: color 0.2s ease;
  width: 48px;
  z-index: 100;
}
.menu-button:before {
  border: 1px solid;
  border-radius: inherit;
  content: "";
  display: flex;
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  transition: opacity 0.4s ease;
  width: 100%;
}
.menu-button:hover:before {
  opacity: 1;
}
.menu-button-cross {
  background: currentColor;
  border-radius: 2px;
  height: 2px;
  transition: background-color 0.1s ease;
  width: 35%;
}
.menu-button-cross:before {
  transform: translateY(-5px);
}
.menu-button-cross:after {
  transform: translateY(5px);
}
.menu-button-cross:after,
.menu-button-cross:before {
  background: inherit;
  border-radius: inherit;
  content: "";
  height: inherit;
  position: absolute;
  transition: transform 0.2s ease;
  width: inherit;
}
.menu-container {
  background: #fff;
  height: 100vh;
  left: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}
@media print, screen and (max-width: 39.99875em) {
  .menu-container {
    padding-top: 100px;
  }
}
.menu-background {
  background: currentColor;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 67%;
  z-index: -1;
}
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
  .menu-background {
    width: 60%;
  }
}
@media print, screen and (max-width: 39.99875em) {
  .menu-background {
    width: 100%;
  }
}
.menu-grid,
.menu-right {
  height: 100%;
}
.menu-right .grid-y.grid-frame {
  overflow: visible;
}
@media print, screen and (min-width: 40em) {
  .menu-right {
    color: #000;
  }
}
@media print, screen and (max-width: 39.99875em) {
  .menu-right {
    color: #fff;
    height: auto;
  }
}
.menu-items {
  color: #fff;
}
.menu-link {
  position: relative;
}
.menu-link:before {
  background: currentColor;
  bottom: 0;
  content: "";
  height: 50%;
  left: -10px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.4s ease;
  width: calc(100% + 20px);
}
.menu-link--active {
  pointer-events: none;
}
.menu-link:not(.menu-link--active):hover:before {
  opacity: 0.15;
}
.menu-contact-title {
  display: flex;
  font-size: 14px;
  line-height: 2.28;
  opacity: 0.8;
}
@media print, screen and (max-width: 39.99875em) {
  .menu-contact-title {
    display: none;
  }
}
.menu-legal {
  font-size: 11px;
  opacity: 0.8;
}
.menu--open .menu-button {
  color: #000;
}
@media print, screen and (max-width: 39.99875em) {
  .menu--open .menu-button {
    color: #fff;
  }
}
.menu--open .menu-button-cross {
  background-color: initial;
}
.menu--open .menu-button-cross:before {
  background-color: currentColor;
  transform: rotate(-45deg);
}
.menu--open .menu-button-cross:after {
  background-color: currentColor;
  transform: rotate(45deg);
}
.menu--open .menu-container {
  pointer-events: auto;
}
.menu--open .menu-link--active:before {
  opacity: 0.15;
  transition-delay: 0.8s;
}
@media print, screen and (min-width: 40em) {
  .menu .social {
    margin-top: 18px;
  }
}
.social {
  display: inline-flex;
}
.social-link {
  border-radius: 100%;
}
.social-link:not(:last-child) {
  margin-right: 15px;
}
.shape {
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  z-index: -1;
}
.shape-image {
  will-change: transform;
}
.shape--blur-low {
  filter: blur(2px);
}
.shape--blur-middle {
  filter: blur(5px);
}
.shape--blur-high {
  filter: blur(7px);
}
.shape--size-small .shape-image {
  max-width: 200px;
}
.shape--size-medium .shape-image {
  max-width: 300px;
}
.shape--size-large .shape-image {
  max-width: 400px;
}
.shape--position-left {
  height: auto;
  justify-content: flex-start;
  position: relative;
}
.shape--position-center {
  height: auto;
  justify-content: center;
  position: relative;
}
.shape--position-right {
  height: auto;
  justify-content: flex-end;
  position: relative;
}
.shape--position-top-left {
  align-items: flex-start;
  justify-content: flex-start;
}
.shape--position-top-center {
  align-items: flex-start;
  justify-content: center;
}
.shape--position-top-right {
  align-items: flex-start;
  justify-content: flex-end;
}
.shape--position-middle-left {
  align-items: center;
  justify-content: flex-start;
}
.shape--position-middle-center {
  align-items: center;
  justify-content: center;
}
.shape--position-middle-right {
  align-items: center;
  justify-content: flex-end;
}
.shape--position-bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}
.shape--position-bottom-center {
  align-items: flex-end;
  justify-content: center;
}
.shape--position-bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}
@media print, screen and (max-width: 39.99875em) {
  .shape {
    display: none;
  }
}
.mosaic {
  overflow: hidden;
  pointer-events: none;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}
@media print, screen and (min-width: 64em) {
  .mosaic-items {
    height: 100vh;
  }
  .mosaic-item:nth-child(1n + 2) {
    display: none;
  }
}
.mosaic-title {
  line-height: 1.1;
}
.mosaic-square {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.mosaic-square:before {
  content: "";
  display: flex;
  padding-bottom: 100%;
}
.mosaic-square[data-theme] {
  transition: background-color 0.8s ease;
}
.mosaic-square[data-theme="ocean"] .mosaic-image {
  left: 40%;
  top: -10%;
}
.mosaic-square[data-theme="corail"] .mosaic-image {
  left: -10%;
  top: 30%;
}
.mosaic-square[data-theme="sun"] .mosaic-image {
  left: 20%;
  top: 10%;
}
.mosaic-square[data-theme="forest"] .mosaic-image {
  left: -10%;
  top: 20%;
}
.mosaic-image {
  position: absolute;
  will-change: transform;
}
@media print, screen and (min-width: 40em) {
  .team {
    padding-top: 100px;
  }
}
.team-list {
  padding-bottom: 300px;
  -webkit-user-select: none;
  user-select: none;
  will-change: transform;
}
.team-item {
  cursor: pointer;
  font-family: Plain, Arial, Helvetica, sans-serif;
  font-size: 56px;
  font-weight: 200;
  line-height: 1;
  opacity: 0.2;
  padding-left: 18px;
  position: relative;
  transition: opacity 0.4s ease;
}
.team-item:not(:last-child) {
  margin-bottom: 30px;
}
.team-item:not(.team-item--active):hover {
  opacity: 0.6;
}
.team-item:before {
  background-color: currentColor;
  border-radius: 100%;
  bottom: 30%;
  content: "";
  height: 10px;
  left: 0;
  opacity: 0;
  position: absolute;
  transform: scale(0.2);
  transition: opacity 0.4s ease, transform 0.2s ease;
  width: 10px;
}
.team-item--active {
  opacity: 1;
}
.team-item--active:before {
  opacity: 1;
  transform: scale(1);
}
.member:not(:last-child) {
  margin-bottom: 150px;
}
@media print, screen and (max-width: 39.99875em) {
  .member:not(:last-child) {
    margin-bottom: 70px;
  }
}
.member-name {
  font-size: 56px;
  font-weight: 200;
}
@media print, screen and (max-width: 63.99875em) {
  .member-name {
    font-size: 40px;
  }
}
.member-image {
  will-change: transform;
}
.member-image-container {
  height: 700px;
}
@media print, screen and (max-width: 39.99875em) {
  .member-image-container {
    height: 540px;
  }
}
.member-interest-name {
  font-size: 14px;
  opacity: 0.6;
}
.navigation {
  background: #fff;
  color: #000;
  font-size: 24px;
  font-weight: 100;
  -webkit-user-select: none;
  user-select: none;
}
.navigation-link {
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  min-height: 280px;
  padding: 20px;
  text-align: center;
}
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
  .navigation-link {
    height: 35vh;
  }
}
@media print, screen and (max-width: 39.99875em) {
  .navigation-link {
    height: calc(50vh - 32px);
  }
}
@media print, screen and (min-width: 40em) {
  .navigation-link-next {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }
}
.navigation-link .icon {
  margin-top: 20px;
}
@media print, screen and (min-width: 64em) {
  .navigation-link .icon {
    display: none;
  }
}
.dot {
  border-radius: 100%;
  height: 48px;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 50%;
  transition: opacity 0.2s ease, transform 0.2s ease;
  width: 48px;
  will-change: transform;
  z-index: 100;
}
.dot:before {
  background: #000;
  content: "";
  position: absolute;
  transition: opacity 0.4s ease, background-color 0.2s ease;
}
.dot-icon,
.dot:before {
  border-radius: inherit;
  height: inherit;
  opacity: 0;
  width: inherit;
}
.dot-icon {
  background: #fff;
  color: #000;
  transform: scale(0.4);
  transition: inherit;
}
.dot-icon:after {
  content: "";
  height: 16px;
  transition: transform 0.2s ease;
  width: 16px;
}
.dot-icon[data-dot-icon="link"]:after {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.3.3a1 1 0 0 1 1.4 0l6 6a1 1 0 0 1 0 1.4l-6 6a1 1 0 1 1-1.4-1.4L12.58 8H1a1 1 0 1 1 0-2h11.59l-4.3-4.3a1 1 0 0 1 0-1.4z'/%3E%3C/svg%3E")
    50% no-repeat;
}
.dot-icon[data-dot-icon="swipe"]:after {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.3 12.3a1 1 0 1 0 1.4 1.4l6-6a1 1 0 0 0 0-1.4l-6-6a1 1 0 1 0-1.4 1.4L22.58 7l-5.3 5.3zM7.7 1.7A1 1 0 1 0 6.3.3l-6 6a1 1 0 0 0 0 1.4l6 6a1 1 0 1 0 1.4-1.4L2.42 7l5.3-5.3z'/%3E%3C/svg%3E")
    50% no-repeat;
}
.dot-icon[data-dot-icon="swipe"]:before {
  opacity: 0.05;
}
.dot-icon[data-dot-icon="swipe"]:after {
  width: 25px;
}
.dot--active {
  opacity: 1;
}
.dot--active:before {
  opacity: 0.04;
}
.dot--highlight {
  transform: scale(1.15);
}
.dot--highlight .dot-icon:after {
  transform: scale(0.8);
}
.dot--icon:before {
  opacity: 0;
  transform: scale(1.6);
  transition: all 0.2s ease;
}
.dot--icon .dot-icon {
  opacity: 1;
  transform: scale(1);
}
@media print, screen and (max-width: 63.99875em) {
  .dot {
    display: none;
  }
}
.portrait-image {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}
.portrait-image-container {
  height: 600px;
  margin-bottom: 20px;
}
@media print, screen and (max-width: 39.99875em) {
  .portrait-image-container {
    height: 400px;
  }
}
.portrait-job {
  font-size: 14px;
  opacity: 0.6;
}
.portrait-name {
  opacity: 0.8;
}
.portrait-social {
  cursor: default;
}
@media print, screen and (max-width: 39.99875em) {
  .portrait-social {
    display: none;
  }
}
.portrait-social-link {
  display: inline-flex;
  height: 16px;
  transition: opacity 0.2s ease;
  width: 16px;
}
.portrait-social-link:not(:last-child) {
  margin-right: 10px;
}
.portrait-social-link:hover {
  opacity: 0.5;
}
.slider {
  overflow: hidden;
}
.slider-container {
  overflow: visible;
}
.slider-wrapper {
  display: inline-flex;
  width: auto;
}
.slider-slide {
  transition: transform 0.4s ease, margin-right 0.4s ease;
  -webkit-user-select: none;
  user-select: none;
}
.slider-slide--touch {
  margin-right: 60px;
  transform: scale(0.9);
}
.review-prelude,
.review-quote {
  margin-bottom: 45px;
}
.review-quote {
  line-height: 1.05;
}
.review-cite {
  font-size: 14px;
  line-height: 1.3;
}
.review-image {
  pointer-events: none;
  will-change: transform;
}
.review-image-container {
  height: 540px;
}
.review-navigation {
  -webkit-user-select: none;
  user-select: none;
}
.review-button {
  cursor: pointer;
  display: inline;
}
.review-button:not(:last-child) {
  margin-right: 15px;
}
.review-pagination {
  display: flex;
  font-size: 14px;
  line-height: 1.14;
  overflow: hidden;
}
.review-pagination-separator {
  padding: 0 4px;
}
.review-items {
  display: none;
}
.project-link:hover .project-image {
  transform: scale(1.04);
}
.project-image {
  pointer-events: none;
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-user-select: none;
  user-select: none;
  will-change: transform;
}
.project-image-container {
  height: 600px;
  margin-bottom: 15px;
}
@media print, screen and (max-width: 39.99875em) {
  .project-image-container {
    height: 360px;
  }
}
.project-name {
  display: inline-flex;
  font-size: 14px;
  opacity: 0.6;
}
.project-description {
  line-height: 1.4;
  margin-top: 5px;
  opacity: 0.8;
}
.article-tag,
.project-tag {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: inline-flex;
  font-size: 11px;
  opacity: 0.6;
  padding: 1px 7px;
}
.table {
  word-break: break-word;
}
.table-row {
  position: relative;
}
.table-row:not(:last-child) {
  margin-bottom: 100px;
  padding-bottom: 100px;
}
.table-row:not(:last-child):after {
  background: currentColor;
  bottom: 0;
  content: "";
  height: 1px;
  opacity: 0.2;
  position: absolute;
  width: 100%;
}
@media print, screen and (max-width: 63.99875em) {
  .table-row:not(:last-child) {
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
}
.checklist-icon {
  height: 24px;
  margin-right: 15px;
  margin-top: 5px;
  width: 24px;
}
.checklist p:first-child {
  margin-top: 0;
}
.timeline {
  counter-reset: item;
  font-size: 14px;
}
.timeline-item {
  counter-increment: item;
  position: relative;
}
.timeline-item:before {
  border-radius: 100%;
  height: 48px;
  position: relative;
  width: 48px;
}
.timeline-item:after {
  content: counter(item);
  display: flex;
  font-size: 26px;
  height: 48px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}
@media print, screen and (max-width: 39.99875em) {
  .timeline-item {
    margin-bottom: 60px;
  }
}
.timeline-title {
  margin: 24px 0;
}
.timeline-text p:last-child {
  margin-bottom: 0;
}
.slideshare-item--active .slideshare-arrow-up {
  opacity: inherit;
}
.slideshare-item--active .slideshare-arrow-down {
  opacity: 0;
}
.slideshare-item--active .slideshare-content {
  height: auto;
  opacity: 1;
  transform: translateY(0);
}
.slideshare-header {
  cursor: pointer;
  line-height: 1.4;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}
.slideshare-header:before {
  background: currentColor;
  content: "";
  height: 1px;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
}
.slideshare-header-grid {
  height: 80px;
}
@media print, screen and (max-width: 39.99875em) {
  .slideshare-date {
    font-size: 14px;
  }
}
.slideshare-arrow {
  height: 16px;
  margin-right: 8px;
  opacity: 0.6;
  position: relative;
  width: 16px;
}
.slideshare-arrow-up {
  opacity: 0;
}
.slideshare-arrow-down {
  opacity: inherit;
}
.slideshare-arrow-icon {
  position: absolute;
}
@media print, screen and (max-width: 39.99875em) {
  .slideshare-arrow {
    margin-right: 0;
  }
}
.slideshare-content {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-30px);
  transition: all 0.4s ease;
}
.slideshare-description {
  font-size: 14px;
  margin-top: 20px;
}
.slideshare-media {
  background: rgba(0, 0, 0, 0.05);
  height: 500px;
  margin: 40px 0 80px;
}
.slideshare-media:before {
  align-items: center;
  color: #000;
  content: "Chargement..";
  display: flex;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  opacity: 0.8;
  width: 100%;
}
.slideshare-media-embed {
  opacity: 0;
  transition: opacity 0.8s ease;
}
.slideshare-media--ready .slideshare-media-embed {
  opacity: 1;
}
@media print, screen and (max-width: 39.99875em) {
  .slideshare-media {
    height: 300px;
  }
}
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
  .slideshare-media {
    height: 400px;
  }
}
.article {
  font-size: 14px;
}
.article-details {
  margin-bottom: 30px;
  opacity: 0.6;
}
.article-date {
  color: #000;
  margin-left: 10px;
  padding-left: 10px;
  position: relative;
}
.article-date:before {
  background: currentColor;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 1px;
}
.article-text figcaption {
  color: #000;
  margin-top: 20px;
}
.article-text blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.1);
  font-style: italic;
  margin-left: 0;
  padding-left: 20px;
}
.article-footer {
  color: #000;
  margin-top: 30px;
  padding-top: 30px;
  position: relative;
}
.article-footer:before {
  background: currentColor;
  content: "";
  height: 1px;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 100%;
}
.article-image-container {
  height: 600px;
}
.article-tag {
  background: rgba(0, 0, 0, 0.1);
  color: #000;
  margin-right: 8px;
  opacity: 1;
  position: unset;
}
.article-author-photo {
  float: left;
  margin-right: 20px;
  width: 100px;
}
.article-author-name {
  font-size: 18px;
}
.article-author-job {
  opacity: 0.6;
}
.article-author-bio {
  opacity: 0.4;
}
.article-sticky {
  will-change: transform;
}
@media print, screen and (min-width: 40em) {
  .article .text-h2 + p:first-of-type {
    font-size: 18px;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.overlay {
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20;
}
.overlay--open {
  pointer-events: auto;
}
.overlay--open .overlay-content:before {
  -webkit-animation: fadein 0.4s ease 1.4s forwards;
  animation: fadein 0.4s ease 1.4s forwards;
}
.overlay-button {
  color: #000;
  left: 30px;
  position: absolute;
  top: 30px;
  z-index: 1;
}
.overlay-shadow {
  background: #000;
  height: inherit;
  opacity: 0.6;
  position: absolute;
  width: inherit;
}
.overlay-content {
  height: inherit;
  position: absolute;
  right: 0;
  width: 80%;
}
.overlay-content:before {
  align-items: center;
  content: "Chargement..";
  display: flex;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
@media print, screen and (max-width: 63.99875em) {
  .overlay-content {
    overflow: auto;
    width: 100%;
  }
}
.overlay-scroll {
  padding-bottom: 70px;
  padding-top: 140px;
}
.cookie,
.overlay-page {
  background: #fff;
}
.cookie {
  border-radius: 40px;
  bottom: 40px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  color: #000;
  font-size: 13px;
  overflow: hidden;
  padding: 10px 10px 10px 15px;
  position: fixed;
  right: 40px;
  transition: background-color 0.4s ease;
  -webkit-user-select: none;
  user-select: none;
  z-index: 50;
}
@media print, screen and (max-width: 39.99875em) {
  .cookie {
    border-radius: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
  }
}
.cookie-button {
  background: #000;
  border-radius: 32px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
  padding: 10px 8px;
  transition: transform 0.2s ease;
  will-change: transform;
}
.cookie-button:hover {
  transform: scale(1.05);
}
@media print, screen and (max-width: 39.99875em) {
  .cookie-button {
    font-size: inherit;
    margin-left: 10px;
  }
}
@-webkit-keyframes dot {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes dot {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
[data-preload] {
  overflow: hidden;
  pointer-events: none;
}
.preload {
  align-items: center;
  background: #fff;
  color: #000;
  cursor: progress;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  padding: 30px;
  pointer-events: auto;
  position: fixed;
  text-align: center;
  top: 0;
  -webkit-user-select: none;
  user-select: none;
  width: 100vw;
  z-index: 200;
}
.preload-content {
  position: absolute;
  transition: opacity 0.4s ease;
}
.preload-title {
  -webkit-animation: show 0.4s ease 0.1s both;
  animation: show 0.4s ease 0.1s both;
  font-size: 70px;
  margin: 0;
}
@media print, screen and (max-width: 63.99875em) {
  .preload-title {
    font-size: 50px;
  }
}
.preload-subtitle {
  -webkit-animation: show 0.4s ease 0.2s both;
  animation: show 0.4s ease 0.2s both;
}
.preload-dots {
  display: flex;
  margin-top: 40px;
}
.preload-dot {
  -webkit-animation: dot 0.7s cubic-bezier(0.4, 0, 0.2, 1) 1.3s infinite
    alternate both;
  animation: dot 0.7s cubic-bezier(0.4, 0, 0.2, 1) 1.3s infinite alternate both;
  height: 26px;
  width: 26px;
}
.preload-dot:not(:last-child) {
  margin-right: 20px;
}
.preload-dot:nth-child(n + 1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.preload-dot:nth-child(n + 2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.preload-dot:nth-child(n + 3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.preload-dot:nth-child(n + 4) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.preload-dot-ocean {
  align-items: center;
  background: linear-gradient(45deg, #317ded, rgba(49, 125, 237, 0.7));
  border-radius: 26px;
  display: flex;
  justify-content: center;
}
.preload-dot-ocean:before {
  background: #fff;
  border-radius: 26px;
  content: "";
  height: 10.4px;
  width: 10.4px;
}
.preload-dot-forest {
  display: flex;
  flex-direction: column;
  position: relative;
}
.preload-dot-forest:before {
  border-color: transparent transparent #13964c;
  border-style: solid;
  border-width: 0 13px 10.4px;
  content: "";
  height: 0;
  width: 0;
}
.preload-dot-forest:after {
  border-color: #13964c transparent;
  border-style: solid;
  border-width: 15.6px 5.2px 0;
  content: "";
  width: 26px;
}
.preload-dot-corail {
  border-color: transparent transparent #e93728;
  border-radius: 3px;
  border-style: solid;
  border-width: 0 15.6px 26px;
}
.preload-dot-sun {
  background: linear-gradient(135deg, #ffd640, #f3be00);
  border-radius: 3px;
  position: relative;
}
.preload-dot-sun:before {
  border-color: transparent transparent #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 0 16.25px 16.25px;
  content: "";
  position: absolute;
  right: -14.43px;
  top: 1.82px;
  transform: rotate(45deg);
  transform-origin: top center;
}
[data-view="home"]
  .section:first-of-type
  .grid-container:first-of-type
  .shape-torus
  .shape-image {
  left: 15%;
  max-width: 160px;
  position: absolute;
}
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
  [data-view="home"]
    .section:first-of-type
    .grid-container:first-of-type
    .shape-torus
    .shape-image {
    left: 7%;
  }
}
[data-view="home"]
  .section:first-of-type
  .grid-container:first-of-type
  .shape-pentagon
  .shape-image {
  max-width: 130px;
  position: absolute;
  right: 30%;
}
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
  [data-view="home"]
    .section:first-of-type
    .grid-container:first-of-type
    .shape-pentagon
    .shape-image {
    right: 10%;
  }
}
[data-view="home"]
  .section:first-of-type
  .grid-container:first-of-type
  .shape-square
  .shape-image {
  max-width: 150px;
  position: absolute;
  right: 10%;
}
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
  [data-view="home"]
    .section:first-of-type
    .grid-container:first-of-type
    .shape-square
    .shape-image {
    right: 5%;
  }
}
[data-view="home"]
  .section:first-of-type
  .grid-container:first-of-type
  .shape-triangle
  .shape-image {
  left: 30%;
  max-width: 100px;
  position: absolute;
}
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
  [data-view="home"]
    .section:first-of-type
    .grid-container:first-of-type
    .shape-triangle
    .shape-image {
    left: 20%;
  }
}
.cover {
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}
.cover iframe,
.cover img,
.cover video {
  display: flex;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
  color: currentColor;
}
.text-color-base {
  color: #000;
}
.text-color-base,
.text-color-contrast {
  transition: color 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.text-color-contrast {
  color: #fff;
}
.text-color-ocean {
  color: #317ded;
}
.text-color-forest,
.text-color-ocean {
  transition: color 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.text-color-forest {
  color: #13964c;
}
.text-color-corail {
  color: #e93728;
}
.text-color-corail,
.text-color-sun {
  transition: color 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.text-color-sun {
  color: #ffd640;
}
.text-lead,
.text-prelude {
  color: currentColor;
}
.text-split-word {
  display: inline-flex;
  overflow: hidden;
}
.section {
  min-height: 100vh;
}
.section > div:first-of-type {
  min-height: inherit;
}
.section .grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section .grid-container > .grid-x {
  padding-bottom: 100px;
  padding-top: 100px;
  position: relative;
}
@media print, screen and (max-width: 39.99875em) {
  .section .grid-container > .grid-x {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .section {
    min-height: auto;
  }
  .section:first-child {
    margin-top: 110px;
    min-height: calc(100vh - 150px);
  }
}
@media print, screen and (min-width: 64em) {
  .section:not(:first-of-type) h1:first-child,
  .section:not(:first-of-type) h2:first-child,
  .section:not(:first-of-type) h3:first-child,
  .section:not(:first-of-type) h4:first-child,
  .section:not(:first-of-type) h5:first-child,
  .section:not(:first-of-type) h6:first-child,
  .section:not(:first-of-type) p:first-child {
    margin-block-start: 0;
  }
}
